{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="h3 mb-2 text-gray-800">{{controller_name}}</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des étudiants</h6>
            <div id="alert_message"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="user_data" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Matricule</th>
                            <th>Année</th>
                            <th>Email</th>
                            <th>Bourse</th>
                            <th>Chambre</th>
                            <th style="text-align: center">Action</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for student in students %}
                    {{dump(student.numRoom)}}
                    <tr>
                        <td>{{student.fisrtName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{student.matricule}}</td>
                        <td>{{student.DateNaissance | date('d/m/y')}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.bourse}}</td>
                        <td>{{(student.numRoom.matricule)}}</td>
                        <td style="text-align: center"><a href="{{path('editStudent',{id:student.id})}}" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(students) }}
            </div>
           
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}
