{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<div class="col-lg-12">
    <div class="col-sm-6 my-auto">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Ajouter un Batiment !</h1>
        </div>
        <span id="val" class="error-form"></span>
        
        {{ form_start(formBuilding,{'attr':{'class':'user'}})}}
            <div class="form-group">
                {{ form_row(formBuilding.name,{'attr': {'placeholder':'Nom du Batiment','class':'form-control form-control-user'},'label':false})}}
            </div>
            <div class="form-group">
                {{ form_row(formBuilding.nbrRoom,{'attr':{'placeholder':'Nombre de Chambre','class':'form-control form-control-user'},'label':false})}}
            </div>
            <div>
                <button type="submit" name="envoyer" class="btn btn-primary btn-user btn-block"> Ajouter</button>
            </div>
        {{ form_end(formBuilding)}}
    
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}